@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Teko&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mother-container{
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 2%;
}

@media screen and (max-width: 1024px) {
  .mother-container{
    grid-template-columns: 50% 50%;
    padding: 10px;
  }
}